@charset "UTF-8";
:root {
    --body-margin: 5px;
    --menu-font-size : 30px;
    --menu-padding : 15px;
    --body-margin-full: 5px 5px 5px 5px;
    --main-radius: 10px;
    --main-padding : 8px;
    --main-margin : calc(2*var(--body-margin));
}
* {
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
	margin : var(--body-margin-full);
	  
	
}
.menuBar{
	opacity: 0.9;
	/* Wireframe is to have band name (first div/<a>) on the left, then all site links to the right [r1] 
  	this is achieved by only having 2 sub elements in the nav, with band as <a> and links grouped under a <div> for only 2 elements.
  	all link sub elements will stack from the rhs (text will be centred vertically [r2])
  */
	background-color : black;
	padding : var(--menu-padding);
	
	align-items : center; /*[r2]*/

	/*--- [r1]---*/
	display : flex;
	justify-content: space-between;
  	position: fixed;
  	/*------------*/
  	font-size:var(--menu-font-size);
  	
  	
  	width:calc(100% - (2*var(--body-margin)) - (var(--main-padding)) ); /* body has a margin of x% adjust dynamically*/
  	
  	border-radius: var(--main-radius);
 	
 	
 	
 }

 .menuBar a{
 	text-decoration: none;
 	color: grey; /* all links to grey, band will override to its own color even though its an a */
 	
}

nav a:hover {
    color: #FFD700;
}
.menuBar .site-links  {
 	display: flex; 
 	gap : 20px;
 }
 
 #band-home-logo {
 	color: white;
 }
 
 main {
 	padding:calc(var(--menu-font-size) + (var(--menu-padding)) + 70px ) 0px 0px 0px;
 	
 	
 	
 }
 main h1{
 	font-size:70px;
 
 }
 .text-with-bg {
 	color: white;
 	font-size: 15px;
 	background-color:black;
 	padding : var(--main-padding);
 	border-radius: 5px;
 	margin :var(--main-margin);
 }
 
 .bg-placeholder {
	 max-width:calc(100%-var(--main-padding) - 2*var(--body-margin)); /*needed to maintin crop at right hand side leaving the margin/padding set up in body else img overlayRHS margin*/
	 width:calc(100% - 2*var(--body-margin) - (var(--main-padding)));
	display:block;
    
    /* height: 110vh; */
    
   
  	background-image: url('../img/main-banner.jpg');
    
    background-position: 80% 25%; /* Adjusts cropping area */
    /* IF PAGE GOES BEYOND SIZE OF IMAGE REPEAT IT */
    background-size: cover;
    position: fixed;
	z-index: -1;
	min-height: 100vh;
	height:120%;
	top:calc(var(--body-margin));
	
	border-radius: var(--main-radius);
}
 